.product-card {
    max-width: 300px;
}

.product-card img {
    min-height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-card button.close {
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 4px;
    right: 4px;
    /* z-index: 2; */
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s, transform 1s;
}

figure.product-card:hover button.close {
    opacity: 1;
    pointer-events: all;
    transform: translateY(4px);
}

.product-card .metadata {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    color: white;
}

.product-card .metadata h3,
.product-card .metadata p {
    margin: 0;
}

.product-card .bottom-sheet {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-around;
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin: bottom;
}

.product-card:hover .bottom-sheet {
    transform: scale(1);
}