.App {
  font-family: sans-serif;
  text-align: center;
}

figure {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  max-height: 480px;
}

figure img {
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}